body{
    background-image: url(./bg.jpg)   ;
    background-repeat: no-repeat;
    background-size: 100%;
}





.bouton1 {
	padding:6px 0 6px 0;
	font:Bold 13px Arial;
	background: #77b5fe;
	color:#fff;
	width:90px;
	border-radius:2px;
	border:none;
}

